{% extends "base.html" %} 
{% load static %}
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<!--Main section-->
<div class="masthead" id="unique-img">
  <div class="position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1 class="display-4 text-black logo margin-top short-text">
            Unique Beauty Products are for making your appearance unique.
          </h1>
          <div class="my-5">
            <h4>
              <a
                href="{% url 'products' %}"
                class="shop-now-button button rounded text-uppercase py-3"
                >Shop Now</a
              >
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Contact form-->
<div class="container" id="contact-form">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1 class="text-center">Contact & Newsletter
      </h1>
      <p>
        Want to get in touch? Fill out the form below to send me a message and get a news letter and I
        will get back to you as soon as possible!
      </p>
      <form method="POST" name="form" class="" action="{% url 'home' %}">
        <div class="form-group floating-label-form-group controls">
          <!--Form goes here-->
          {{ form | crispy }} {% csrf_token %}
          <div class="text-center">
            <button type="submit" class="btn btn-dark">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <h2>Unique Beauty</h2>
    <p>You can find unique beauty products in our shop.</p>
    <div class="social-links">
      
      <a href="https://www.facebook.com/profile.php?id=61555614870613" class="facebook" target="_blank" aria-label="link to facebook page"><i class="fa fa-facebook"></i></a>
      <a href="#" class="instagram" target="_blank" aria-label="link to twitter"><i class="fa fa-instagram"></i></a>
      <a href="#" class="linkedin" target="_blank" aria-label="link to linkedin"><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>Unique</span></strong
      >. All Rights Reserved
    </div>
  </div>
</footer>
<!-- End Footer -->
{% endblock %}
