html {
    height: 100%;
}
body {
    background: url('/media/main_image.jpg')fixed center center no-repeat;
    font-family: sans-serif;
    color: rgb(10, 10, 10);
    height: calc(100vh - 164px);
    background-size: cover;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.text-black {
    color: rgb(10, 10, 10);;
}
.border-black {
    border: 2px solid black;
}
.main-logo {
    width: fit-content;
}
.margin-top {
    margin-top: 5px;
}
.short-text {
    color: #4c6592;
    font-family: 'Playfair Display', serif;
}
.searchbar {
    display: inline-flex;
    align-items: center;
    color: #4c6592;
    border-radius: 4px;
    border: 1px solid black;
    background-image: linear-gradient(40deg, #111, #a23148);
}
.searchbar :is(input, button) {
    background: transparent;
    color: inherit;
    border: none;
    outline: none;
}
.searchbar:focus-within input {
    width: 200px;
}
::placeholder {
    font: inherit;
    color: #e3e3e3;
}
.search-btn {
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: color 0.25s;
}
.search-btn:hover {
    color: #e3e3e3;
}
.search-input {
    width: 0;
    transition: width 0.5s;
}
.button {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #a23148;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 300px;
}
.shopping-btn {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #316da2;
    border: none;
    border-radius: 5px;
    padding: 12px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover,
.button:active,
.button:focus {
    background-color: #f3edf2;
    text-decoration: none;
}
.shopping-btn:hover,
.shopping-btn:active,
.shopping-btn:focus {
    background-color: #f3edf2;
    text-decoration: none;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: white;
}
img {
    height: 300px;
}

.custom-footer {
    background-color: transparent;
    border: none;
}
.custom-bg {
    height: 300px;
    background: #f1f1f1;
}
.custom-btn {
    margin-right: 10px;
}
/* delivery-banner */
#delivery-banner {
    background: #a23148;
    color: white;
    font-weight: 400;
}
/* shopping bag */
.empty-bag-container {
    margin: 30px 0 20px;
    background-color: rgb(247, 238, 226)
}
.font-weight-bold {
    font-weight: 700;
}
.empty-bag-container {
    padding: 20px;
    text-align: center;
    
}
.bag-img {
    height: 200px;
    width: 180px;
    max-width: 100%;
    
}
.unique-logo {
    background: url(/media/looka-unique.png)fixed center center no-repeat;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}