<form action="{% url 'adjust_shopping_bag' item.item_id %}" class="form update-form" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group border border-dark">
            <div class="input-group-prepend">
                <button class="btn-sm decrement-qty btn btn-dark rounded-0" data-item_id="{{ item.item_id }}"
                    id="decrement-qty_{{ item.item_id }}">
                    <span>
                        <i class="fa-sm fas fa-minus"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
            <div class="input-group-append">
                <button class="btn-sm increment-qty btn btn-dark rounded-0" data-item_id="{{ item.item_id }}"
                    id="increment-qty_{{ item.item_id }}">
                    <span>
                        <i class="fa-sm fas fa-plus"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
<a href="#" class="update-link text-info"><small>Update</small></a>
<a href="#" class="remove-item text-danger float-right" data-item-id="{{ item.item_id }}" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><small>Remove</small> </a>