<div class="collapse navbar-collapse" id="main-navbar">
    <ul class="mx-auto w-auto navbar-nav">
        <li class="nav-item-dropdown">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Makeup</a>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Lips</a>
                <a href="#" class="dropdown-item">Eyes</a>
                <a href="#" class="dropdown-item">Eye brow</a>
                <a href="#" class="dropdown-item">Nails</a>
                <a href="#" class="dropdown-item">Eyes</a>
            </div>   
        </li>
    </ul>
</div>