{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h2 class="text-center text-uppercase text-black"></h2>
            <hr class="text-black">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="container">
    <div id="products" >
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Unique Beauty Products</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 mt-5">
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100 shadow custom-card">
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">

                        <img class="card-img-top w-100 custom-bg" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}">

                        <img class="card-img-top w-100 custom-bg" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
            
                    <div class="card-body">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <!--<p class="card-text">{{ product.description }}</p>
                                    </div>-->
                        <div class="card-footer custom-footer">
                            <div class="float-start">
                                <h4 class="custom-highlight">{{ product.price }}$</h4>
                                {% if product.rating %}
                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }}</small>
                                {% else %}
                                <small class="text-muted">No rating</small>
                                {% endif %}
                            </div>
                            <div class="float-end">
                                <button class="btn btn-primary rounded-3 custom-btn">
                                    <i class="fas fa-shopping-card">Buy Now</i>
                                </button>
                                <a href="{{ prodcut.image.url }}" target="_blank" class="btn btn-info rounded-3 custom-btn">
                                    <i class="fas fa-shopping-card">View</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--
<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        <img src="../../../media/pexels-kristina-paukshtite-3060257.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lip Stick</h5>
                            <p class="card-text">Look shinny</p>
                            <p>26.99$</p>
                        </div>
                    </div>
                    <div class="card h-100 border-0">
                        <img src="../../../media/pexels-kristina-paukshtite-3060257.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lip Stick</h5>
                            <p class="card-text">Look shinny</p>
                            <p>26.99$</p>
                        </div>
                    </div>
                    <div class="card h-100 border-0">
                        <img src="../../../media/pexels-kristina-paukshtite-3060257.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lip Stick</h5>
                            <p class="card-text">Look shinny</p>
                            <p>26.99$</p>
                        </div>
                    </div>
                    <div class="card h-100 border-0">
                        <img src="../../../media/pexels-kristina-paukshtite-3060257.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lip Stick</h5>
                            <p class="card-text">Look shinny</p>
                            <p>26.99$</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>
-->
{% endblock %}