{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h2 class="text-center text-uppercase text-black">All Products</h2>
            <hr class="text-black">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<!--<div id="my-products" class="d-flex justify-content-between align-items-center flex-lg-row my-5 flex-column"></div>
    <div class="card" style="width: 18rem;">
        <img src="../../../media/pexels-kristina-paukshtite-3060257.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Lip Stick</h5>
            <p class="card-text">Look shinny</p>
            <p>26.99$</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../media/pexels-kristina-paukshtite-3060257.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Lip Stick</h5>
            <p class="card-text">Look shinny</p>
            <p>26.99$</p>
        </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
        <img src="../../../media/pexels-kristina-paukshtite-3060257.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Lip Stick</h5>
            <p class="card-text">Look shinny</p>
            <p>26.99$</p>
        </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
        <img src="../../../media/pexels-kristina-paukshtite-3060257.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Lip Stick</h5>
            <p class="card-text">Look shinny</p>
            <p>26.99$</p>
        </div>
    </div>
</div>-->
<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        <img src="../../../media/pexels-kristina-paukshtite-3060257.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lip Stick</h5>
                            <p class="card-text">Look shinny</p>
                            <p>26.99$</p>
                        </div>
                    </div>
                    <div class="card h-100 border-0">
                        <img src="../../../media/pexels-kristina-paukshtite-3060257.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lip Stick</h5>
                            <p class="card-text">Look shinny</p>
                            <p>26.99$</p>
                        </div>
                    </div>
                    <div class="card h-100 border-0">
                        <img src="../../../media/pexels-kristina-paukshtite-3060257.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lip Stick</h5>
                            <p class="card-text">Look shinny</p>
                            <p>26.99$</p>
                        </div>
                    </div>
                    <div class="card h-100 border-0">
                        <img src="../../../media/pexels-kristina-paukshtite-3060257.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lip Stick</h5>
                            <p class="card-text">Look shinny</p>
                            <p>26.99$</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>

{% endblock %}